* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

.main-container {

}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

/*Carta de Presentación*/
#business-card {
  margin: 50px auto;
  width: 774px;
  height: 500px;
  background-color: #3C3C3B;
}

.personal-information, .photo, .gradient {
  height: 100%;
}

/*Foto de fondo*/
#business-card .photo {
  width: 50%;
}

#business-card .gradient {
  right: 50%;
  width: 15%;
  background: linear-gradient(to top left, #3C3C3B 50% , transparent 50%);
}

/*Sección de Información Personal*/
#business-card .personal-information {
  right: 0;
  width: 55%;
  box-sizing: border-box;
  padding-top: 120px;
  text-align: center;
}

.data {
  color: #FFFFFF;
}

.data:nth-child(1), .data:nth-child(2) {
  font-size: 3.5rem;
}

.data:nth-child(3) {
  margin-top: 20px;
  font-size: 2.0rem;
  color: #FFA500;
}

.data:nth-child(4) {
  font-size: 1.8rem;
  margin-top: 30px;
  margin-left: 30px;
  text-align: left;
  line-height: 2.5rem;
  white-space: pre;
}
