* {
  margin: 0;
  padding: 0;
}

.main-container {

}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

/*Carta de Presentación*/
#business-card {
  margin: 50px auto;
  width: 774px;
  height: 500px;
  background-color: #3C3C3B;
}

.personal-information, .photo, .gradient {
  height: 100%;
}

/*Foto de fondo*/
#business-card .photo {
  width: 50%;
}

#business-card .gradient {
  right: 50%;
  width: 15%;
  background: linear-gradient(to top left, #3C3C3B 50% , transparent 50%);
}
